* {
  box-sizing: border-box;
}

.navheader {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #2c3e50;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navheader li {
  float: left;
}

.navheader li:last-child {
  float: right;
}

.navheader li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navheader li a:hover {
  background-color: #111;
  border-bottom: 1px solid red;
}

.user {
  float: right;
  padding-right: 40px;
}
