.title {
  font-weight: bold;
  padding-top: 20px;
  border-top: 1px solid lightgrey;
}

.listMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 50px 0;
  padding: 0;
}

.MovieSheet {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}



span.overview {
  width: 50%;
}
