.title {
  font-weight: bold;
}

ul.listMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

li.MovieSheet {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
